<center><h2>Welcome to Critters Deliveries <%= current_user.username %></h2></center>
<br>
<center><h3>My Delivery's page </h3></center>

<ol>
  <% current_user.deliveries.all.each do |deliveries| %>
    <li style="font-size:165%;">
       <%= deliveries.user.username %>.
       <%= deliveries.name %><br>
       <%= deliveries.address %><br>
       <%= deliveries.content %>

    </li>
  <%end%>
</ol>

<a href="/deliveries/<%= @deliveries.id %>/new">Create a Delivery</a>
<a href="/deliveries">All Delivery's</a>
<a href="/logout">Log out</a>
<a href="/deliveries">Back</a>
<br>
 (JH).&copy;

