<center><h2>Welcome to Critters Deliveries <%= current_user.username %></h2></center>
<br>
<center><h3>My Deliveries page </h3></center>

<ul>
  <% Deliveries.all.each do |deliveries| %>
    <ol style="font-size:165%;">
       <%= @user.id %>.
       <%= deliveries.name %><br>
       <%= deliveries.address %><br>
       <%= deliveries.content %>

    </ol>
  <% end %>
</ul>

<a href="/deliveries/<%= @deliveries.id %>/new">Create Delivery's</a>
<a href="/deliveries">Index all Delivery's</a>
<a href="/logout">Log out</a>
<a href="/deliveries">Back</a>
<br>
 (JH).&copy;

