<center><h2>Welcome to Critters Deliveries <%= current_user.username %></h2></center>
<br>
<center><h3>My Delivery's page </h3></center>

<ol>
  <% current_user.deliveries.each do |delivery| %>
    <li style="font-size:165%;">
       <%= delivery.user.username %>.
       <%= delivery.name %><br>
       <%= delivery.address %><br>
       <%= delivery.content %>

    </li>
  <%end%>
</ol>

<a href="/deliveries/new">Create a Delivery</a>
<a href="/deliveries">All Delivery's</a>
<a href="/logout">Log out</a>
<a href="/deliveries">Back</a>
<br>
 (JH).&copy;

