
 <center><h1>Edit a Delivery, <%= @delivery.user.username%> </h1></center>

<ol>
  <% Delivery.all.each do |deliveries| %>
    <li style="font-size:165%;">
       <%= deliveries.user.id %>
       <%= deliveries.name %><br>
       <%= deliveries.address %><br>
       <%= deliveries.content %>
    </li>

    <form action="/deliveries/<%= deliveries.id %>" method="post">
      <input name="_method" id="hidden" type="hidden" value="patch">
	    <label>Current Deliveries: </label><br>
	    Full Name:
	    <textarea <input type="text" name="delivery[name]"><%=deliveries.name%></textarea>
      Address:
	    <textarea <input type="text" name="delivery[address]"><%=deliveries.address%></textarea>
      Food for delivery:
	    <textarea <input type="text" name="delivery[content]"><%=deliveries.content%></textarea>

	    <input type="submit" value="update deliveries"/>

    </form>
  <% end %>
</ol>

    <a href="/deliveries/new">Create delivery's</a>
    <a href="/deliveries/">delete delivery's</a>
    <a href="/users">Back</a>
    <a href="/logout">Log out</a>
    <br>
    (JH).&copy;
