
 <center><h1>Edit a Delivery, <%= @delivery.user.username%> </h1></center>

<ol>
  <% @delivery.id %>
    <li style="font-size:165%;">
       <%= @delivery.user.id %>
       <%= @delivery.name %><br>
       <%= @delivery.address %><br>
       <%= @delivery.content %>
    </li>

     <form action="/deliveries/<%= @delivery.id %>" method="post">
      <input name="_method" id="hidden" type="hidden" value="patch">
	    <label>Current Deliveries: </label><br>
	    Full Name:
	    <textarea <input type="text" name="delivery[name]"><%=@delivery.name%></textarea>
      Address:
	    <textarea <input type="text" name="delivery[address]"><%=@delivery.address%></textarea>
      Food for delivery:
	    <textarea <input type="text" name="delivery[content]"><%=@delivery.content%></textarea>

	    <input type="submit" value="update deliveries"/>

    </form>
 
</ol>

    <a href="/deliveries/new">Create delivery's</a>
    <a href="/deliveries/">delete delivery's</a>
    <a href="/users">Back</a>
    <a href="/logout">Log out</a>
    <br>
    (JH).&copy;
