
 <center><h1>Edit a Delivery, <%=@deliveries.users.username%> </h1></center>

<ol>
  <% Deliveries.all.each do |deliveries| %>
    <li style="font-size:165%;">
       <%= deliveries.id %>
       <%= deliveries.name %><br>
       <%= deliveries.address %><br>
       <%= deliveries.content %>
    </li>

    <form action="/deliveries/<%= @deliveries.id %>" method="post">
      <input name="_method" id="hidden" type="hidden" value="patch">
	    <label>Current Deliveries: </label><br>
	    Full Name:
	    <input type="text" name="name" value="<%=deliveries.name%>">
      Address:
	    <input type="text" name="address" value="<%=deliveries.address%>">
      Content:
	    <input type="text" name="content" value="<%=deliveries.content %>">

	    <input type="submit" value="update deliveries"/>

    </form>
  <% end %>
</ol>

    <a href="/deliveries/new">Create delivery's</a>
    <a href="/deliveries/">delete delivery's</a>
    <a href="/users">Back</a>
    <a href="/logout">Log out</a>
    <br>
    (JH).&copy;
