 <center><h3>Welcome To The Index page, <%=current_user.username %></h3></center>

<ol>
  <% Deliveries.all.each do |deliveries| %>
    <li style="font-size:165%;">
       <%= deliveries.user.username %><br>
       <%= deliveries.name %><br>
       <%= deliveries.address %><br>
       <%= deliveries.content %>
     <a href="/deliveries/<%=deliveries.id%>">show</a>
    </li>

   <form action="/deliveries/<%=current_user.id%>/delete" method="post"> <br>  
    <input type="hidden" name="_method" value="delete" id='hidden'>
    <input type="submit" value="Delete deliveries">
   </form>

  <% end %>
</ol>


<a href="/login">Log In</a <br> <a href="/logout">Logout</a>

<a href="/users">Back</a>