 <center><h3>Welcome To The Index page, <%=current_user.username %></h3></center>

<ol>
  <% current_user.deliveries.each do |delivery| %>
    <li style="font-size:165%;">
       <%= delivery.user.username %><br>
       <%= delivery.name %><br>
       <%= delivery.address %><br>
       <%= delivery.content %>
     <a href="/deliveries/<%=delivery.id%>">show</a>
    </li>

   <form action="/deliveries/<%= delivery.id %>/delete" method="post"> <br> 
    <input type="hidden" name="_method" value="delete" id='hidden'>
    <input type="submit" value="Delete delivery">
   </form>
  <% end %>
</ol>

<br> <a href="/logout">Logout</a>

<a href="/users">Back</a>